.display{
    grid-column: 4 span;
    background-color: rgb(27, 27, 73);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    font-size: 2em;
    overflow:hidden;
}